.slider-container {
  padding: 0 3%;
  position: relative;
  margin-top: -100px;

  .h2tag {
    padding-left: 30px;
    color: white;
    margin-bottom: 20px;
  }

  .wrapper {
    align-items: center;
    transform-style: preserve-3d;

    .item {
      width: 100%;
      display: flex !important;
      position: relative;
      align-items: flex-end;
      transform-style: preserve-3d;
      transform: rotateY(-0.01deg);

      >div {
        font-weight: bold;
        font-size: 200px;
        line-height: 1;
        margin-bottom: -14px;
        color: black;
        -webkit-text-stroke: 6px white;
        text-shadow: 0 0 30px black;
        position: absolute;
        left: -12px;
      }

      >img {
        margin: 4px 0 4px 60px;
      }
    }

    .slick-arrow {
      color: #fff;
      font-size: 18px;
      width: 30px;
      height: 30px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;

      &.slick-next {
        right: 0;
      }

      &.slick-prev {
        left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .slider-container {
    margin-top: 0
  }
  .h2tag {
    padding-top: 30px;
  }
}